@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
.custom_scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.custom_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto; /* Ensure scrolling still works */
}
